.box1{
    background-color: #272727;
    border-radius: 10px;
    height: 400px;
   
}
.box2{
    height: 200px;
}
.box11{
    background-color: #272727;
    border-radius: 10px;
}

.cont13{
    background-color: black;
}
.cont16{
    height: 300px;
}